<h2>Disciplinas</h2>

<div>
<input #input type="text" />
<button (click)="disciplinas.add(input.value, input.value, input.value, input.value, input.value); input.value = ''">+</button>
</div><br>

<table>
<tr>
  <th>ID</th>
  <th>NOME</th>
  <th>DIA DA SEMANA</th>
  <th>HORÁRIO</th>
  <th>EMENTA</th>
</tr>
<tr *ngFor="let disciplina of disciplinas.getList(); index as i">
  <td>{{disciplina.id}}</td>
  <td>{{disciplina.nome}}</td>
  <td>{{disciplina.diaDaSemana}}</td>
  <td>{{disciplina.horario}} </td>
  <td><a [routerLink]="['/lista', i]">Detalhes </a></td>
  <span (click)="disciplinas.remove(i)" style="cursor: pointer;"> 
  - 
</span>
  
</tr>
</table>

